body {
  font-size: 16px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eaecef;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #6a737d;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 2px solid #eaecef;

}

li {
  font-size: 16px;
  margin-bottom: 10px;
}

a {
  color: #0366d6;
  text-decoration: none;
}
a:hover {
  color: #0366d6;
  text-decoration: underline;
}
.conteiner {
  max-width: 1024px;
  margin: auto;
}

